
<div class="phone-mockup">
  <header>
    <img class="leaf-icon" src="assets/logo_zdravJEM_koncni.svg" alt="Logo zdravJEM"/>
    <h1>zdravJEM</h1>
  </header>

  <main>
    <article class="post">
      <div class="post-top">
        <img class="avatar"
             src="assets/cat1.png"
             alt="User avatar" />
        <span class="username">Matej Mucoljub</span>
      </div>

      <img
        class="post-image"
        src="assets/smothiebowl.png"
        alt="Smoothie bowl"
      />

      <div class="reaction-row">
        <span tabindex="0" role="button" (click)="handleReaction($event)">❤️</span>
        <span tabindex="0" role="button" (click)="handleReaction($event)">😱</span>
        <span tabindex="0" role="button" (click)="handleReaction($event)">👑</span>
      </div>
    </article>

    <article class="post">
      <div class="post-top">
        <img class="avatar"
             src="assets/man1.png"
             alt="User avatar" />
        <span class="username">FoodieGuy</span>
      </div>

      <img
        class="post-image"
        src="assets/shrimporoll.png"
        alt="Shrimp roll"
      />

      <div class="reaction-row">
        <span tabindex="0" role="button" (click)="handleReaction($event)">❤️</span>
        <span tabindex="0" role="button" (click)="handleReaction($event)">😱</span>
        <span tabindex="0" role="button" (click)="handleReaction($event)">👑</span>
      </div>
    </article>
  </main>

  <footer>
    <a routerLink="/scrollfeed">
      <img class="icon" src="assets/home.svg" alt="Home" />
    </a>
    <a routerLink="/photo">
      <img class="icon" src="assets/photo-camera-svgrepo-com.svg" alt="Open Camera" />
    </a>

    <a routerLink="/friends">
      <img class="icon" src="assets/add-friend-svgrepo-com.svg" alt="Add Friend" />
    </a>
  </footer>
</div>
