<div class="phone-mockup login-page">
  <header>
    <img class="leaf-icon" src="assets/logo_zdravJEM_koncni.svg" alt="Logo zdravJEM" />
    <h1>zdravJEM</h1>
  </header>

  <main class="login-content">
    <h2>Login</h2>
    <form (ngSubmit)="onSubmit()" class="login-form">
      <label for="username">Username</label>
      <input type="text" id="username" [(ngModel)]="username" name="username" required>

      <label for="password">Password</label>
      <input type="password" id="password" [(ngModel)]="password" name="password" required>

      <button type="submit">Login</button>
    </form>
  </main>


</div>
